.footer {
  height: 25px;
  background-color: rgb(188,240,224);
  /* padding: 20px; */
  font-family: 'Acme', sans-serif;
  margin-top: 30px;
  /* font-weight: bolder; */
  text-align: center;
  color: gray;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.h-footer {
  
}

/* .div-footer {

} */