.footer {
  height: 20px;
  background-color: rgb(68,68,68);
  padding: 20px;
  margin-top: 30px;
  font-weight: bolder;
  text-align: center;
  color:  white;
  position: absolute;
  width: 100%;
  bottom: 0;
}

/* .h-footer {
  
}

.div-footer {

} */