* {
  margin: 0;
  padding: 0;
}

input, button, form {
  /* margin: 0 auto; */
}

.initial-form {
  /* margin: 0 auto;
  height: 40px; */
}

.div-form {
width: 45%;
margin: 0 auto;
border: solid rgb(188,240,224);
border-radius: 10px;
padding: 15px;
}

.form-city{
  margin-left: 5px;
  border: solid  green;
  border-radius: 5px;
  color: green;
  padding: 2px;
}

.form-date-in, .form-date-out {
  color: green;
  border: solid green;
  margin: 5px;
  border-radius: 5px;
}

.form-button {
  color: green;
  border: solid green;
  margin: 5px;
  border-radius: 5px;
  width: 100px;
  padding: 2px;
}

.pick{
  color: green;
  width: 45%;
  margin: 0 auto;
  padding-bottom: 20px;
  padding-left: 75px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait)  {

    .div-pick {
      text-align: center;
    }

    .pick{
      color: green;
      width: 45%;
      margin: 0 auto;
      padding-bottom: 20px;
      padding-left: 1px;
    }
    .form-button {
      margin-left: 1.5rem;
      color: green;
      border: solid green;
      border-radius: 5px;
      width: 100px;
      padding: 2px;
    }
  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    .div-pick {
      text-align: center;
    }

    .pick{
      color: green;
      width: 45%;
      margin: 0 auto;
      padding-bottom: 20px;
      padding-left: 1px;
    }

    input{
      display: block;
    }

    .form-city{
      margin-left: 5rem;
      border: solid  green;
      border-radius: 5px;
      color: green;
      padding: 2px;
    }

    .form-date-in, .form-date-out {
      margin-left: 5rem;
      color: green;
      border: solid green;
      border-radius: 5px;
    }
    
    .form-button {
      margin-left: 6.5rem;
      color: green;
      border: solid green;
      border-radius: 5px;
      width: 100px;
      padding: 2px;
    }
}