* {
  margin: 0;
  padding: 0;
}

.container-details {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 60% 40%;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  border: solid green;
  border-radius: 5px;
  /* grid-column-gap: -35px; */
}

.left {
  overflow: auto;
}

.right {
  overflow: auto;
  display: grid;
  grid-template-rows: 70% 30%;
}

.thumbnail-container {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.thumbnail {
  overflow: auto;
}

.map-details {
background-color: white;
height: 100%;
width: 100%;
margin: -30 auto;
}
.map-det {
  /* display: table; */
  margin: 45px 100px;
  position: relative;
height: auto;
width: auto;
}

.text-details {
  margin: 20px auto;
  text-align: center;
}