

* {
  margin: 0;
  padding: 0;
}

.info-container{
width: 80%;
margin: 0 auto;
display: grid;
grid-template-columns: 27.7% 45% 27.5%;
margin-top: 20px;
font-family: 'Open Sans', sans-serif;
border: solid green;
border-radius: 5px;
}

.hotel-picture{
overflow: auto;
margin: 2px;
/* border: solid black; */
}

.hotel-image-front{
  width: 100%;
}

.hotel-info{
overflow: auto;
margin: 2px;
/* border: solid black; */
text-align: center;
color: green;
position: relative;
}

.detail-container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
.price-display{
  overflow: auto;
  background-color: white;
  color: brown;
  height: 247px;
  /* padding: 20px; */
  /* height: 120px; */
}
.p-price {
  /* height: 20px; */
}

.detail-info{
  overflow: auto;
  background-color: beige;
}

.location {
  overflow: auto;
  background-color: white;
}

.map {
overflow: auto;
background-color: wheat;
margin: 2px;
/* border: solid black; */
position: relative;
height: auto;
width: auto;
}

.loading {
height: 200px;
width: 20%;
margin: 50px auto;
}
.lnk {
  text-decoration: none;
  color: black;
}
.lnk:hover{
  text-decoration: green;
  color: green;
}

.small-text {
  font-size: 10px;
}

.wifi{
  position: absolute;
  bottom: 0;
  }

  .more-button {
  
  margin: 10px 600px;
  color: green;
  border: solid green;
  
  border-radius: 5px;
  width: 100px;
  padding: 2px;
  }