* {
  margin: 0;
  border: 0;
}

body {
  /* height: 100%; */
  background-color: white;
  position: relative;
  min-height: 70vh;
  padding-bottom: 70px;
}

main {
  
  margin: 0px auto;
  /* margin-bottom: 20px; */
  width: 90%;
  position: relative;
  
}
.container{
margin-top: 100px;
}